<div class="container">
<img class="image_solo"src="<%= @item.image_url%>"></a>
  <p><h2><%= @item.title%></h2></p>
  <p><h3><%= @item.description%></h3></p>
<button type="button" class="btn btn-warning"><%= link_to 'Ajouter au panier', cart_path %></button>
</div>