<!DOCTYPE html>
<html>
<head>
	<title>cart</title>
</head>
<body>

	<div id="pageCart">
			<div id="cart">
				<p id="row1">
					<%= @cart.user_id %>
				</p>
					
				<% @cart.items.each do |item| %>
					<p class="each"><img class="icon"src="<%= item.image_url%>">
						<%= item.title %>
						<button class="delete">X delete item</button>
					</p>

				<% end %>
						
					<button class="bouton">
						valider le panier
					</button>

			</div>
	</div>

</body>
</html>