<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>


<h1 id="titre">Gatinos, la référence des photos de chats !</h1>
<div id="pageIndex">



	<% @item.each do |item| %>
		<div class="carte">
			<a href="#"><img class="images"src="<%= item.image_url%>"></a>
			<a href="#"><h3><%= item.title %></h3></a>
			<p><%= item.description %></p>
			<button type="button" class="btn btn-warning"><%= link_to "Voir détail", item_path(item.id) %></button>  
		</div>
    <% if !current_user.cart.items.find(item.id)? %>
      <% button_to "Ajouter au panier", bills_path , :item_id => item.id, action: "create", method: "post" %>
    <% end %> 
	<%end%>
</div>	
<div id="test"></div>
</body>
</html>