<h1>Merci pour ta commande !</h1>

<h2>Elle devrait arriver sous peu.</h2>

<p>voici ce que tu as commandé.e</p>

	<%= @user.orders.last.items.each do |item| %>
		<div>
			<%= image_tag item.picture, alt: 'avatar', class:"images" %>
			<p><%= item.title %></p>
		</div>
	<%end%>

<p>tu peux retourner sur <a href="https://gatinos.herokuapp.com/">notre page d'accueil !</a></p>