@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

#nav
{
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
}

#nav h1
{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
}

.links
{
	font-family: 'Nunito Sans', sans-serif;
}

#pageIndex
{
	width: 100%;
	height: 1700px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	top: 150px;
}

.carte
{
	width: 300px;
	height: 400px;
	border:1px solid black;
	margin: 15px;
	overflow: hidden;
	text-align: center;
	border-radius: 20px;
}

.images
{
	width: 100%;
	height: 40%;
}

#titre
{
	text-align: center;
	position: relative;
	top: 75px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: none;
	color: black;
}

#test
{
	width: 100%;
	height: 200px;
	border: 1px solid black;
	position: absolute;
	bottom: 0px;
}

#pageCart
{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cart
{
	width: 50%;
	height: 40%;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	bottom: 70px;
}

#row1
{
	width: 100%;
	height: 10%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.each
{
	width: 100%;
	height: 50px;
	border:1px solid black;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
}

.icon
{
	height: 50px;
	width: 50px;
	border-radius: 5px 0px 0px 5px;
	position: relative;
	right: 2px;
}

.un
{
	text-align: center;
}

.bouton
{
	border: none;
	width: 150px;
	height: 50px;
	/*border: 1px solid black;*/
	background-color: #7ae582;
	border-radius: 50px;
	/*position: relative;
	left: 320px;*/
}

.delete
{
	width: 135px;
	height: 100%;
	border: none;
	background-color: #ee6055;
	border-radius: 50px 10px 10px 50px;
}

.text
{
	height: 25%;
	overflow: hidden;
}

.ca
{
	margin: 1px;
}
